:host {
  display: flex;
  padding: 0;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.img-wrapper {
  width: 220px;
  height: 220px;
  border: solid;
}

.price {
  font-size: 20px
}

.rating {
  font-size: 32px;
}

.right-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-wrapper {
  width: 100%;
  display: flex;
}

.name {
  width: 100%;
}
